@define-color bg #150D08;
@define-color fg #F6F0CF;
@define-color gray1 #F4E3A6;
@define-color gray2 #6d6763;
@define-color gray3 #8dacf7;
@define-color gray4 #F7ECB9;
@define-color gray5 #d593d5;
@define-color fg_bright #ece6bd;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}